body {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Wellfleet", cursive;
  display: grid;
  grid-template: 12% 88% / 210px auto;
  grid-template-areas:
    "header header"
    "barra-nav menu-contenido";
  background-color: #f1f1f1;
}
.contenedor {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 1px;
  display: grid;
  grid-template: auto auto auto/ auto auto;
  gap: 5px;
}
#logout {
  padding-top: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}
.header {
  height: 100%;
  width: 100%;
  margin: auto;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.menu1 li{
  list-style: none;
}
.menu1 ul li a {
  /* actuan como bloques separados */
  display: block;
  padding: 25px;
  text-decoration: none;
  color: #000000;
}

.menu1 li:hover {
  background: #c2c2c2;
  color: #000080;
}

.menu1 ul h2{
  color:red;
  text-align: center;
}
.contenido {
  height: 100%;
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
#logo{
  width: 1000px;
  height: 250px;
  margin-top: 170px;
  margin-left: 170px;
  height: 200px;
}