* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  background-color: #c4c4c4;
  width: 320px;
  height: 420px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.logo {
  width: 275px;
  height: 75px;
  margin-top: 17px;
  margin-left: 10px;
}
.imagen {
  width: 275px;
  height: 75px;
  margin-top: 17px;
  margin-left: 17px;
}
.login {
  margin-top: 100px;
  margin-left: 40px;
}
.nombre{
  margin-top: 00px;
  margin-left: 15px;
}
.caja{
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 12px;
}
.botones{
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 1px;
  padding-top: 1px;
}

.boton{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 3px; 
  text-decoration: none;
  border:none;
  color: #000000;
}

.boton:hover{
  background-color: #5c5c5c; 
}