body {
    margin: 0;
    padding: 0;
    border: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* font-family: "Wellfleet", cursive; */
    display: grid;
    grid-template: 12% 88% / 210px auto;
    grid-template-areas:
      "header header"
      "barra-nav menu-contenido";
    background-color: #f1f1f1;
  }
  .contenedor {
    /* padding-top: 50px; */
    padding-top: auto;
    height: 100%;
    width: 100%;
    /* margin-top: 10px;
    margin-bottom: 1px; */
    display: grid;
    grid-template: auto auto auto/ auto auto;
    gap: 5px;
  }
  #logout {
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
  }
  .header {
    height: 100%;
    width: 100%;
    margin: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  #logo{
    width: 1000px;
    height: 250px;
    padding-left: 50%;
    height: 200px;
  }
  .menu1 li{
    list-style: none;
  }
  .menu1 ul li a {
    /* actuan como bloques separados */
    display: block;
    padding: 25px;
    text-decoration: none;
    color: #000000;
  }
  
  .menu1 li:hover {
    background: #c2c2c2;
    color: #000080;
  }
  
  .menu1 ul h2{
    color:red;
    text-align: 10px;
  }
  .contenido {
      margin-top: 40px;
    width: 250%;
    background: #dbdbdb;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

  }
  .datosdelestudiante{
      width: 100%;
      padding: 20px;
  }
  .titulo1{
      margin-top: 0;
      text-align: center;
  }
  .datosdelestudiante, label, input{
    display: block;
    margin-bottom: 5px;
  }
  .formulario1, label{
      width: 30%;
  }

  .formulario1, input{
    width: 90%;
    padding: 5px;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.opciones{
    width: 90%;
    padding: 5px;
}
.enviar{
    width: 30%;
    margin-left: 40%;
}