body{
    margin: 0;
    padding: 0;
    border: 0;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    font-family: 'Wellfleet', cursive;    
    display: grid;       
    grid-template: 12% 88% / 210px auto;
    grid-template-areas:
      "header header"
      "barra-nav menu-contenido";
}
table {
  margin: auto;
 }
table,th,td {
border: 2px solid black;
border-collapse: collapse;
padding: 20px 10px;
text-align: center;
}.fila:hover {
  background: #c2c2c2;
  color: #000080;  
}