<table>
  <thead>
    <tr>
      <th>Nombre Votacion</th>
      <th>Ciclo</th>
      <th>Fecha de inicio</th>
      <th>Fecha finalización</th>
      <th>candidatos</th> 
    </tr>
  </thead>
  <tbody>
    <tr class="fila"> 
      <td></td>
      <td for="estado" id="pos">
          
      </td>  
      <td for="estado"id="vot">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
        <select>
            <option value="">Tipo</option>
            <option value="1">Semestre</option>
            <option value="1">facultad</option>
        </select>
      </td>  
    </tr>
    <tr class="fila"> 
      <td></td>
      <td for="estado" id="pos">
          
      </td>  
      <td for="estado"id="vot">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
        <select>
            <option value="">Tipo</option>
            <option value="1">Semestre</option>
            <option value="1">facultad</option>
        </select>
      </td>  
    </tr>
    <tr class="fila"> 
      <td></td>
      <td for="estado" id="pos">
          
      </td>  
      <td for="estado"id="vot">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
        <select>
            <option value="">Tipo</option>
            <option value="1">Semestre</option>
            <option value="1">facultad</option>
        </select>
      </td>  
    </tr>
    <tr class="fila"> 
      <td></td>
      <td for="estado" id="pos">
          
      </td>  
      <td for="estado"id="vot">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
          
      </td>  
      <td for="estado" id="cerrada">
        <select>
            <option value="">Tipo</option>
            <option value="1">Semestre</option>
            <option value="1">facultad</option>
        </select>
      </td>  
    </tr>
    
  </tbody>
</table>